<h1>Portfolio</h1>
<span>Username: <%= current_user.username %><br></span>
<span>Current Cash: <%= current_user.cash %><br></span>

<h2>Current Holdings</h2>
<% @stocks.each do |f| %>
  <span><%= f %><br></span>
<% end %>

<h2>Trade History</h2>
<% @trades.each do |f| %>
  <span><%= f %><br></span>
<% end %>
