<% if @stocks.any? %>
  <% @stocks.each do |stock| %>
  <% if stock.gain == true %>
    <% gain_or_loss = "triangle-gain"%>
    <% triangle = "\u25B2"%>
  <% else %>
    <% gain_or_loss = "triangle-loss" %>
    <% triangle = "\u25BC"%>
  <% end %>
    <div class="sm-stock-display">
      <span class="symbol"><%= link_to stock.symbol, stock_path(stock) %></span>
      <span class="price">$<%= stock.current_price %><span class="<%=gain_or_loss%>"><%= triangle -%></span></span>
      <span class="trade">Trade</span>
    </div>
  <% end %>
<% else %>
  <h2>Sorry, something went wrong...</h2>
<% end %>
