<div class="chart-holder">
  <canvas id="stock-chart"></canvas>
</div>

<div class="stock-data" data-stock-object="<%= @stock.to_json %>"></div>
<div class="stock-values" data-stock-values="<%= @values.to_json %>"><div>
