<div class="test-data" data-test-it-out="<%= @temp %>"></div>
<div class="test-output">

</div>

<div class="other-test-data" data-other-test="kitty">
</div>

<button id="button" type="button" name="button"></button>
<%= @temp %>

<div class="chart-holder">
  <canvas id="myChart" width="300" height="300"></canvas>
</div>
