<div class="welcome-splash">
  <h1>Invest comission-free.</h1>
  <h1>In fact, invest totally free.</h1>
  <h1>Paper_Trader is simulated stock trading.</h1>
  <div class="welcome-chart-holder">
    <canvas id="welcome-chart"></canvas>
  </div>
</div>
