<div class="welcome-splash">
  <h1>Invest commission-free.</h1>
  <h1>In fact, invest totally free.</h1>
  <h1>Paper_Trader is simulated stock trading.</h1>
  <h2 class="sign-up-btn">Sign Up</h2>
  <div class="welcome-chart-holder">
    <canvas id="welcome-chart"></canvas>
  </div>
</div>
