/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* yellow = #E8DB51 232 219 81 91
blue = #726EF5 114 110 245 96
green = #4DFFAB 77 255 171 100
red = #FF7A4D 255 122 77 100
purple = #A049F5 160 73 245 96
gray = #292E1E */

body {
  font-family: 'Merriweather', serif;
  color: white;
  background-color: #2D2D2D;
}

.main-content{
  width: 80%;
  margin: auto;
}

/* unvisited link */
a:link {
  color: white;
  text-decoration: none;
}
/* visited link */
a:visited {
  color: white;
  text-decoration: none;
}
/* mouse over link */
a:hover {
  color: #4DFFAB;
  text-decoration: none;
}
/* selected link */
a:active {
  color: #4DFFAB;
  text-decoration: none;
}

.navbar{
  height: 3rem;
}
.nav-left{
  height: 100%;
  display: inline;
  float: left;
}
.nav-right{

  height: 100%;
  display: inline;
  float:right;
}
.nav-right a{
  position: relative;
  bottom: 0px;
}

.nav-search{
  float: left;
  display: flex;
}
.nav-search input{
  all: unset;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  display: inline;

}

.nav-search input:focus{
  /* all: unset; */
  float: left;
}

.nav-search span{
  color: gray;
}
