// Place all the styles related to the stocks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* yellow = #E8DB51 232 219 81 91
blue = #726EF5 114 110 245 96
green = #4DFFAB 77 255 171 100
red = #FF7A4D 255 122 77 100
purple = #A049F5 160 73 245 96
gray = #292E1E */

.chart-holder{
  max-width: 1800px;
  margin: auto;
  text-align: center;
}

.chart-holder canvas{
  display: block;
  margin: auto;
  padding: 0;
}

.stock-header h2,h3{
  display: inline;
}

.stock-header-left{
  display: inline;
  float: left;
}
.stock-header-right{
  display: inline;
  float: right;
}

.stock-info-left{
  width: 33%;
  margin: 0;
  float: left;
  text-align: left;
}
.stock-info-mid{
  width: 33%;
  margin: 0;
  float: left;
  text-align: left;
}
.stock-info-right{
  width: 33%;
  margin: 0;
  float: right;
  text-align: left;
}

.stock-info {
  display: block;
}

.stock-info h3{
  margin-left: 5rem;
  display: block;
}

.sm-stock-holder{
  display: inline;
  border: none;
  margin: 0;
}

.sm-stock-display{
  border: 1px gray solid;
  border-radius: 5px;
  display: inline-block;
  height: 2rem;
  width: 30%;
  min-width: 300px;
  margin: auto;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  text-align: center;
  margin-bottom: 1rem;
  padding-top: 0.5rem;
}

.sm-stock-display canvas{
  margin: auto;
  border: 1px solid red;
  height: 3rem;
  width: 5rem;
}

.sm-stock-display .symbol{
  width: 33%;
  margin: 0;
  float: left;
}

.sm-stock-display .price{
  width: 33%;
  margin: 0;
  float: right;
  margin-right: 0.6rem;
}

.sm-stock-display .trade{
  width: 33%;
  margin: 0;
  background-color: #726EF5;
  padding: 0.2rem;
  border-radius: 0.5rem;
}

.sm-stock-display .trade:hover{
  background-color: darken(#726EF5, 10%);
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.sm-stock-display .trade a:hover{
  color: white;
}

.stock-buy-sell{
  margin-bottom: 1rem;
}

.stock-holding-col3{
  display: inline;
  float: left;
  width: 33%;
  border: 0;
  margin: 0;
  text-align: center;
}

.trade-btn {
  display: inline-block;
  margin: 0;
  width: 3rem;
  background-color: #726EF5;
  padding: 0.3rem;
  border-radius: 0.5rem;
}

.trade-btn:hover{
  display: inline-block;
  background-color: darken(#726EF5, 10%);
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.buy-btn{
  display: inline-block;
  margin: 0;
  margin-right: 0.2rem;

  background-color: #4DFFAB;
  padding: 0.3rem;
  border-radius: 0.5rem;
}

.buy-btn:hover{
  display: inline-block;
  background-color: darken(#4DFFAB, 10%);
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.sell-btn{
  display: inline-block;
  margin: 0;
  margin-left: 0.2rem;

  background-color: #FF7A4D;
  padding: 0.3rem;
  border-radius: 0.5rem;
}

.sell-btn:hover{
  display: inline-block;
  background-color: darken(#FF7A4D, 10%);
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.btn {
  font-size: 1rem;
}

.qty-field{
  all: unset;
  display: inline;
  width: 2.5rem;
}

.form-buy-btn{
  border: none;
  font-family: 'Merriweather', serif;
  font-size: 1rem;
  color: white;
  display: inline;
  margin: 0;
  margin-right: 0.2rem;
  background-color: #4DFFAB;
  padding: 0.3rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.form-buy-btn:hover{
  background-color: darken(#4DFFAB, 10%);
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.form-sell-btn{
  border: none;
  font-family: 'Merriweather', serif;
  font-size: 1rem;
  color: white;
  display: inline;
  margin: 0;
  margin-right: 0.2rem;
  background-color: #FF7A4D;
  padding: 0.3rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.form-sell-btn:hover{
  background-color: darken(#FF7A4D, 10%);
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.triangle-gain{
  display: inline;
  margin: 0;
  padding: 0;
  margin-left: 0.3rem;
  color: #4DFFAB;
}
.triangle-loss {
  display: inline;
  margin: 0;
  padding: 0;
  margin-left: 0.3rem;
  color: #FF7A4D;
}

.bad-flash{
  text-align: center;
  width: 30%;
  min-width: 100px;
  margin: auto;
  margin-bottom: 2rem;
  background-color: #FF7A4D;
  padding: 1rem;
  border-radius: 2rem;
}
