/* yellow = #E8DB51 232 219 81 91
blue = #726EF5 114 110 245 96
green = #4DFFAB 77 255 171 100
red = #FF7A4D 255 122 77 100
purple = #A049F5 160 73 245 96
gray = #292E1E */

.registration-holder{
  width: 30vw;
  margin: auto;
  margin-top: 10vh;
}
.registration-holder input{
  width: 100%;
  height: 1.5rem;
  margin-bottom: 0.5rem;
}

.actions input{
  // get all the freakin styles off of devise forms
  all: unset;
}

.actions input:hover{
 color: #4DFFAB;
 cursor: pointer;
}
